#button-modal label {
    color: var(--black-purple);
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 12px;
}

#button-modal .label-required {
    display: flex;
}

#button-modal .label-required #required {
    color: var(--red);
    font-size: 1.6rem;
    margin-left: 4px;
}

.buttonModal {
    width: 380px;
    background: var(--blue);
    color: var(--white);
    border-radius: 12px;
    padding: 16px 0;
    text-align: center;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 28px;
}

.buttonModal:hover {
    background: var(--blue-hover);
}

.buttonModal.has-error {
    border-color: var(--red);
}