.resultados-container .item-resultado h1 {
    color: var(--black-purple);
    font-size: 2.6rem;
    text-transform: capitalize;
}

.resultados-container .item-resultado .nav-filtros.carrossel {
    margin-bottom: 12px;
}