p.required {
    margin-bottom: 16px;
    color: var(--gray-3);
}

textarea {
    width: 380px;
    background: var(--white);
    color: var(--black-purple);
    border: 1px solid var(--gray-4);
    border-radius: 12px;
    padding: 18px;

    margin-bottom: 28px;
}

textarea:hover {
    border-color: var(--blue);
}

textarea.has-error {
    border-color: var(--red);
}