.buttons-carrossel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.buttons-carrossel .btn-carrossel {
    width: 24px;
    height: 24px;
    border: 1px solid var(--gray-4);
    border-radius: 50%;
    background: var(--white);
    margin-right: 10px;
    cursor: pointer;
}

.buttons-carrossel .btn-carrossel:hover {
    border-color: var(--blue);
}

.buttons-carrossel .btn-carrossel#selected {
    background: var(--blue);
}