#home .interesses-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 48px 0;
}

#home .interesses-container p {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.4rem;
    color: var(--gray-3);
    margin-right: 16px;
}

#home .interesses-container .interesses-list-tags {
    list-style: none;
    display: flex;
}

#home .interesses-container .interesses-list-tags li {
    background: var(--blue-light);
    color: var(--black-purple);
    padding: 12px 18px;
    border-radius: 36px;
    margin-right: 12px;
}

#home .input-container {
    display: flex;
    align-items: center;

    border: 1px solid var(--gray-4);
    border-radius: 12px;
    padding: 16px;
}

#home .input-container button {
    cursor: pointer;
    background: none;
}

#home .input-container .input-search {
    margin-left: 12px;
    width: 100%;
    color: var(--black-purple);
}

#home .resultados-container {
    margin-top: 48px;
}