.cards {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
}

.no-results {
    margin-top: 16px;
    margin-bottom: 24px;
    color: var(--red);
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.8rem;
}