.interesses-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 48px 0;
}

.interesses-container p {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.4rem;
    color: var(--gray-3);
    margin-right: 16px;
}

.interesses-container .interesses-list-tags {
    list-style: none;
    display: flex;
}

.interesses-container .interesses-list-tags button {
    background: var(--blue-light);
    color: var(--black-purple);
    padding: 12px 18px;
    border-radius: 36px;
    margin-right: 12px;
    cursor: pointer;
}

.interesses-container .interesses-list-tags button:hover {
    background-color: var(--blue-light-hover);
}